
@{
    ViewData["Title"] = "Index";
 }
<body>
    <!-- slider section -->
    <div class="hero_area">
        <section class="slider_section ">
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="img-box">
                                        <img src="~/images/slider-img.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="detail-box">
                                        <h1>
                                            Welcome to IVOICE!
                                        </h1>
                                        <p>
                                           Your ultimate destination for discovering revolutionary products tailored for your visually impaired loved ones! Explore a world of their most needed products to enhance their daily lives with unparalleled accessibility and convenience provided by our offered products!
                                        </p>
                                        <div class="btn-box">
                                            <a asp-action="Contactus" class="btn1">
                                                Contact Us
                                            </a>
                                            <a asp-action="AboutUs" class="btn1">
                                                About Us
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="img-box">
                                        <img src="~/images/slider-img.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="detail-box">
                                        <h1>
                                            Welcome to IVOICE!
                                        </h1>
                                        <p>
                                            Step into the world of IVOICE, the ultimate haven for discovering revolutionary products crafted specifically for your visually impaired loved ones! Dive into a realm where every product is meticulously curated to elevate their daily experiences with unparalleled accessibility and convenience.
                                        </p>
                                        <div class="btn-box">
                                            <a asp-action="Contactus" class="btn1">
                                                Contact Us
                                            </a>
                                            <a asp-action="AboutUs" class="btn1">
                                                About Us
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="img-box">
                                        <img src="~/images/slider-img.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="detail-box">
                                        <h1>
                                            Welcome to IVOICE!
                                        </h1>
                                        <p>
                                            You have made it to IVOICE, where every click opens the door to a world of innovation, specifically designed to empower your visually impaired loved ones. Explore a curated collection of revolutionary products, each meticulously crafted to elevate their daily experiences with unmatched availability and simplicity!!
                                        </p>
                                        <div class="btn-box">
                                            <a asp-action="Contactus" class="btn1">
                                                Contact Us
                                            </a>
                                            <a asp-action="AboutUs" class="btn1">
                                                About Us
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#customCarousel1" data-slide-to="1"></li>
                    <li data-target="#customCarousel1" data-slide-to="2"></li>
                </ol>
            </div>
        </section>
</body>

